annotated-types
asgiref
cffi
contextlib2
cryptography
Django
django-cors-headers
django-extensions
django-filter
django-ninja
django-ninja-extra
django-ninja-jwt
django-simple-history
injector
ninja-put-patch-file-upload-middleware
packaging
pip-review
pycparser
pydantic
pydantic_core
pygraphviz
PyJWT
sqlparse
typing_extensions
